@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
--color-background: var(--background);
--color-foreground: var(--foreground);
--font-sans: var(--font-geist-sans);
--font-mono: var(--font-geist-mono);
--color-sidebar-ring: var(--sidebar-ring);
--color-sidebar-border: var(--sidebar-border);
--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
--color-sidebar-accent: var(--sidebar-accent);
--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
--color-sidebar-primary: var(--sidebar-primary);
--color-sidebar-foreground: var(--sidebar-foreground);
--color-sidebar: var(--sidebar);
--color-chart-5: var(--chart-5);
--color-chart-4: var(--chart-4);
--color-chart-3: var(--chart-3);
--color-chart-2: var(--chart-2);
--color-chart-1: var(--chart-1);
--color-ring: var(--ring);
--color-input: var(--input);
--color-border: var(--border);
--color-destructive: var(--destructive);
--color-accent-foreground: var(--accent-foreground);
--color-accent: var(--accent);
--color-muted-foreground: var(--muted-foreground);
--color-muted: var(--muted);
--color-secondary-foreground: var(--secondary-foreground);
--color-secondary: var(--secondary);
--color-primary-foreground: var(--primary-foreground);
--color-primary: var(--primary);
--color-popover-foreground: var(--popover-foreground);
--color-popover: var(--popover);
--color-card-foreground: var(--card-foreground);
--color-card: var(--card);
--radius-sm: calc(var(--radius) - 4px);
--radius-md: calc(var(--radius) - 2px);
--radius-lg: var(--radius);
--radius-xl: calc(var(--radius) + 4px);
}

:root {
--radius: 0.625rem;
--background: oklch(1 0 0);
--foreground: oklch(0.145 0 0);
--card: oklch(1 0 0);
--card-foreground: oklch(0.145 0 0);
--popover: oklch(1 0 0);
--popover-foreground: oklch(0.145 0 0);
--primary: oklch(0.205 0 0);
--primary-foreground: oklch(0.985 0 0);
--secondary: oklch(0.97 0 0);
--secondary-foreground: oklch(0.205 0 0);
--muted: oklch(0.97 0 0);
--muted-foreground: oklch(0.556 0 0);
--accent: oklch(0.97 0 0);
--accent-foreground: oklch(0.205 0 0);
--destructive: oklch(0.577 0.245 27.325);
--border: oklch(0.922 0 0);
--input: oklch(0.922 0 0);
--ring: oklch(0.708 0 0);
--chart-1: oklch(0.646 0.222 41.116);
--chart-2: oklch(0.6 0.118 184.704);
--chart-3: oklch(0.398 0.07 227.392);
--chart-4: oklch(0.828 0.189 84.429);
--chart-5: oklch(0.769 0.188 70.08);
--sidebar: oklch(0.985 0 0);
--sidebar-foreground: oklch(0.145 0 0);
--sidebar-primary: oklch(0.205 0 0);
--sidebar-primary-foreground: oklch(0.985 0 0);
--sidebar-accent: oklch(0.97 0 0);
--sidebar-accent-foreground: oklch(0.205 0 0);
--sidebar-border: oklch(0.922 0 0);
--sidebar-ring: oklch(0.708 0 0);
}

.dark {
--background: oklch(0.145 0 0);
--foreground: oklch(0.985 0 0);
--card: oklch(0.205 0 0);
--card-foreground: oklch(0.985 0 0);
--popover: oklch(0.205 0 0);
--popover-foreground: oklch(0.985 0 0);
--primary: oklch(0.922 0 0);
--primary-foreground: oklch(0.205 0 0);
--secondary: oklch(0.269 0 0);
--secondary-foreground: oklch(0.985 0 0);
--muted: oklch(0.269 0 0);
--muted-foreground: oklch(0.708 0 0);
--accent: oklch(0.269 0 0);
--accent-foreground: oklch(0.985 0 0);
--destructive: oklch(0.704 0.191 22.216);
--border: oklch(1 0 0 / 10%);
--input: oklch(1 0 0 / 15%);
--ring: oklch(0.556 0 0);
--chart-1: oklch(0.488 0.243 264.376);
--chart-2: oklch(0.696 0.17 162.48);
--chart-3: oklch(0.769 0.188 70.08);
--chart-4: oklch(0.627 0.265 303.9);
--chart-5: oklch(0.645 0.246 16.439);
--sidebar: oklch(0.205 0 0);
--sidebar-foreground: oklch(0.985 0 0);
--sidebar-primary: oklch(0.488 0.243 264.376);
--sidebar-primary-foreground: oklch(0.985 0 0);
--sidebar-accent: oklch(0.269 0 0);
--sidebar-accent-foreground: oklch(0.985 0 0);
--sidebar-border: oklch(1 0 0 / 10%);
--sidebar-ring: oklch(0.556 0 0);
}

@layer base {
* {
@apply border-border outline-ring/50;
}
body {
@apply bg-background text-foreground;
}
}
/* Hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
display: none;
}

.no-scrollbar {
-ms-overflow-style: none; /* IE and Edge */
scrollbar-width: none; /* Firefox */
}

.hero-section-wrapper {
background: url("/assests/img/home/hero-banner.png") center/cover no-repeat;
height: 760px;
width:100%;
}

.preloader-section-wrapper {
background: url("/assests/img/home/hero-banner.png") center/cover no-repeat;
height: 760px;
width:100%;
}

.footer-wrapper{
background: url("/assests/img/home/footer-bg.jpg") center/cover no-repeat;
background-size: 100% 100%;
}
.highlight::before{
content: '';
width: 100%;
height: 8px;
background:#F4BE00;
position: absolute;
bottom: 13px;
left: 0;
z-index: -9;
}

.highlight1::before{
content: '';
width: 100%;
height: 8px;
background:#F4BE00;
position: absolute;
bottom: 9px;
left: 0;
z-index: -9;
}
.highlight2::before{
content: '';
width: 100%;
height: 11px;
background:#F4BE00;
position: absolute;
bottom: 13px;
left: 0;
z-index: -9;
}
.section-gap{
padding: 80px 0px 60px 0px;
}
.together-wrapper{
background: url("/assests/img/home/together-bg.jpg") center/cover no-repeat;
height:630px;
}
@keyframes marquee {
0%   { transform: translateX(0%); }
100% { transform: translateX(-50%); }
}

.animate-marquee {
animation: marquee 18s linear infinite;
}

@keyframes zoomInFade {
0% { 
transform: scale(0.20);

}
100% { 
transform: scale(2.15);

}
}
.zoom-small-to-big {
animation: zoomInFade 1s ease-in-out forwards;
}
/* Slick center slide effects */
.team-member-wrapper .slick-center .team-card {
transform: scale(1.10);
background: #326E4F;
color: #ffffff;
}

.team-member-wrapper .slick-center .team-image {
transform: scale(1.15);
/* border-color: #FACC15;  */
}

.team-member-wrapper .slick-center .team-role {
color: #FDE68A;
}

.team-member-wrapper .slick-center .profile-img {
width: 130px !important;
height: 130px !important;
}
.team-member-wrapper .slick-list {
padding-top: 60px!important;
}
.team-member-wrapper .slick-center .slide-card {
transform: translateY(20px) scale(1.15);
}
.team-member-wrapper .slick-slide.slick-active.slick-center.slick-current{
transform: translateY(30px);
}
.team-member-wrapper .slick-slide.slick-active.slick-center.slick-current .member-center{
background: #466E59;
color: white;

}
.team-member-wrapper .member-card{
min-height: 268px;
}
.swiper-pagination-bullet {
opacity: 1 !important;
height: 12px!important;
width: 12px!important;
}
.swiper-pagination-bullet-active {
background: #FFD400 !important;
}
.casestudies-wrapper{
background: url("/assests/img/home/case-studies-bg.png");
background-size: cover;
background-repeat: no-repeat; 
background-position: center;  
}
.casestudies-wrapper .swiper-pagination{
position: relative;
bottom: 0px!important;
}
.casestudies-wrapper .swiper-pagination-bullet-active{
width: 20px!important;
border-radius: 61px;
height: 10px!important;
background: #F4BE00!important;
border: none!important;
}
.casestudies-wrapper .swiper-pagination-bullet{
background: #466E5999;
border: 1px solid #466E59

}
.team-member-wrapper .slick-dots {
bottom: -50px;
}
.team-member-wrapper .slick-dots li.slick-active button:before{
width: 18px;
border-radius: 61px;
color: #F4BE00!important;
opacity: 1;
}
.team-member-wrapper .slick-dots li.slick-active button:before {
width: 20px;       
height: 10px;       
border-radius: 61px;
background-color: #F4BE00;
content: "";        
display: block;
margin: -3px -4px;
border: none!important;
}
.team-member-wrapper .slick-dots li {
cursor: pointer;
width: 20px;
height: 20px;
margin: 0 1px;
padding: 0;
display: inline-block;
position: relative;
}
.team-member-wrapper .slick-dots li button:before {
font-size: 0 !important;  
} 
.team-member-wrapper .slick-dots li button {
width: 4px;
height: 4px;
background:#466e5999;
border-radius: 50%;
border: 1px solid #466E59
}
.one-team-wrapper{
background: url("/assests/img/home/one-team-bg.png");
background-size: cover;
background-repeat: no-repeat; 
background-position: center;  
}

/* .one-team-wrapper .one-team-card{
border-right: 1px solid #A2A2A2;

}
.one-team-wrapper .one-team-card:last-child {
border-right: none;
} */

.bdr{
  border-right: 1px solid #a2a2a2;
}
.blogs-wrapper .swiper-pagination{
position: relative;
bottom: 0px!important;
}
.blogs-wrapper .swiper-pagination-bullet-active{
width: 20px!important;
border-radius: 61px;
height: 10px!important;
background: #F4BE00!important;
border: none!important;

}
.blogs-wrapper .swiper-pagination-bullet{
background: #466E5999;
border: 1px solid #466E59
}

/* Hide scrollbar for specific element */
.section-hide-scrollbar {
scrollbar-width: none;       /* Firefox */
-ms-overflow-style: none;    /* Internet Explorer & Edge */
}

.section-hide-scrollbar::-webkit-scrollbar {
display: none;               /* Chrome, Safari, Opera */
}

.team-member-wrapper .slick-dots li.slick-active button {
background: none;
border: 0px solid #466e59;
border-radius: 50%;
width: 4px;
height: 4px;
padding: 0;
}
.vibes-footer-logo{
background: #466E59;
height: 75px;
width: 75px;
position: absolute;
top: -40px;
left: calc(50% - 50px);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.vibes-footer-logo img{
height: 50px;
width: 50px;
}


.home-gallery-wrapper .wrapper{
--_gap: .5rem;
--_offset: 10%;
--_offset-1: calc(var(--_offset) * 1);
--_offset-2: calc(var(--_offset) * 2);
--_offset-3: calc(var(--_offset) * 3);
--_offset-7: calc(var(--_offset) * 7);
--_offset-8: calc(var(--_offset) * 8);
--_offset-9: calc(var(--_offset) * 9);

width: 85%;
max-width: 100%;
margin: 2rem auto;
color: white;
font-family: system-ui;
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 0 var(--_gap);
pointer-events: none;
transform-style: preserve-3d;
}
.home-gallery-wrapper .wrapper > div{
position: relative;
pointer-events: auto;
aspect-ratio: 1;
transition: scale 500ms ease-in-out, filter 500ms ease-in-out, clip-path 500ms ease-in-out 500ms;
clip-path: polygon(var(--_clip-path));
transform: translate3d(0,0,0);
}
.home-gallery-wrapper .wrapper img{
width: 100%;
height: 100%;
object-fit: cover;
display: block;
object-position: top;
}
.home-gallery-wrapper .wrapper > div:nth-child(n+4){
margin-top: calc(var(--_offset-3) * -1 + var(--_gap));
}
/* define clip-path custom properties */
.home-gallery-wrapper .wrapper > div:nth-child(1){ --_clip-path: 0 0, 100% 0, 100% var(--_offset-9), 0 100%;}
.home-gallery-wrapper .wrapper > div:nth-child(2){ --_clip-path: 0 0, 100% 0, 100% var(--_offset-8), 0 var(--_offset-9);}
.home-gallery-wrapper .wrapper > div:nth-child(3){ --_clip-path: 0 0, 100% 0, 100% var(--_offset-7), 0 var(--_offset-8);}

.home-gallery-wrapper .wrapper > div:nth-child(4){ --_clip-path: 0 var(--_offset-3), 100% var(--_offset-2), 100% 100%, 0 100%;}
.home-gallery-wrapper .wrapper > div:nth-child(5){ --_clip-path: 0 var(--_offset-2), 100% var(--_offset-1), 100% 100%, 0 100%;}
.home-gallery-wrapper .wrapper > div:nth-child(6){
--_clip-path: 
0 var(--_offset-1),
100% 0,
100% 100%,
0 100%;
}

.home-gallery-wrapper .wrapper > div:hover{
transition: scale 500ms ease-in-out, filter 500ms ease-in-out, clip-path 500ms ease-in-out 500ms;
scale: 1.1;
--_clip-path: 0 0, 100% 0, 100% 100%, 0 100%;
z-index: 100;
opacity: 1;
}

.home-gallery-wrapper .wrapper:has(:hover) > div:not(:hover){
filter: grayscale(1) blur(3px);
opacity: .5;
scale: 0.9;
}
.home-gallery-wrapper .wrapper > div:not(:hover) {
animation: zIndexHack 1000ms;

}

@keyframes zIndexHack {
0%, 100% { z-index: 100; }
}
.home-gallery-wrapper{
background: url("/assests/img/home/home-gallery-bg.png");
background-size: cover;
background-repeat: no-repeat; 
background-position: center;  
}

.technology-wrapper{
background: url("/assests/img/home/technology-bg.png");
background-size: cover;
background-repeat: no-repeat; 
background-position: center; 
}
.branding-wrapper{
background: url("/assests/img/home/branding bg.png");
background-size: cover;
background-repeat: no-repeat; 
background-position: center; 
}
.digital-wrapper{
background: url("/assests/img/home/digital-bg.png");
background-size: cover;
background-repeat: no-repeat; 
background-position: center; 
}

/* about */

.about-hero-wrapper{
background: url("/assests/img/about/about-banner.png") center/cover no-repeat;
height: 697px;
width:100%;
}
.mission-vision-wrapper{
background: url("/assests/img/about/together-bg.png");
background-size: cover;
background-repeat: no-repeat; 
background-position: center; 
}
.mission-vision-wrapper .together-small-img{
height:285px;
}
.core-values-wrapper{
background: url("/assests/img/about/core-values-bg.png");
background-size: cover;
background-repeat: no-repeat; 
background-position: center; 
} 
.timeline-journey-wrapper {
background: url("/assests/img/about/our-Journey-bg.png");
background-size: cover;
background-repeat: no-repeat; 
background-position: center;  
}
.timeline-journey-wrapper .timeline-icon{

    -webkit-animation: pulse1 2s infinite;

  animation: pulse1 2s infinite;

  position: relative;

    z-index: 100;

    height: 56px;
    width: 56px;

    padding:15px;

    color: #b69c11;

    display: flex;

    border-radius: 100%;

    text-align: center;
    top: 16%;

}

@-webkit-keyframes pulse1 {
0% {
-webkit-box-shadow: 0 0 0 0 rgba(244, 190, 0, 1);
}
45% {
-webkit-box-shadow: 0 0 0 10px rgba(244, 190, 0, 0.7);
}
70% {
-webkit-box-shadow: 0 0 0 15px rgba(244, 190, 0, 0.5);
}
100% {
-webkit-box-shadow: 0 0 0 0 rgba(244, 190, 0, 0.2);
}
}

@keyframes pulse1 {
0% {
-moz-box-shadow: 0 0 0 0 rgba(244, 190, 0, 1);
-webkit-box-shadow: 0 0 0 0 rgba(244, 190, 0, 1);
box-shadow: 0 0 0 0 rgba(244, 190, 0, 1);
}
45% {
-moz-box-shadow: 0 0 0 10px rgba(244, 190, 0, 0.5);
-webkit-box-shadow: 0 0 0 10px rgba(244, 190, 0, 0.5);
box-shadow: 0 0 0 10px rgba(244, 190, 0, 0.5);
}
70% {
-moz-box-shadow: 0 0 0 15px rgba(244, 190, 0, 0.3);
-webkit-box-shadow: 0 0 0 15px rgba(244, 190, 0, 0.3);
box-shadow: 0 0 0 15px rgba(244, 190, 0, 0.3);
}
100% {
-moz-box-shadow: 0 0 0 0 rgba(244, 190, 0, 0.1);
-webkit-box-shadow: 0 0 0 0 rgba(244, 190, 0, 0.1);
box-shadow: 0 0 0 0 rgba(244, 190, 0, 0.1);
}
}
.timeline-journey-wrapper .arrows-down {
position: absolute;
top: 98%;
left: 51.1%;
width: 20px;
height: 20px;
transform: translate(-50%, -50%);
}
.timeline-journey-wrapper .arrows-down:before {
content: "";
position: absolute;
width: 100%;
height: 100%;
border-left: 5px solid rgba(0, 0, 0, 0.7)!important;
border-bottom: 5px solid rgba(0, 0, 0, 0.7)!important;
transform: translate(26.6666666667px, 106.6666666667px) rotate(-45deg);
animation: arrows-down 3s linear infinite;
display:none;
}
.timeline-journey-wrapper .arrows-down:after {
content: "";
position: absolute;
width: 100%;
height: 100%;
border-left: 5px solid rgba(0, 0, 0, 0.7)!important;
border-bottom: 5px solid rgba(0, 0, 0, 0.7)!important;
transform: translate(40.3333333333px, 0px) rotate(-45deg);
animation: arrows-down 3s linear infinite -1.5s;

}

@keyframes arrows-down {
0% {
border-left: 26.6666666667px solid rgba(0, 0, 0, 0);
border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0);
transform: translate(-13.3333333333px, -23.3333333333px) rotate(-45deg);
}
10%, 90% {
border-left: 26.6666666667px solid rgba(0, 0, 0, 0);
border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0);
}
50% {
border-left: 26.6666666667px solid rgba(0, 0, 0, 0.7);
border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0.7);
transform: translate(-13.3333333333px, 0px) rotate(-45deg);
}
100% {
border-left: 26.6666666667px solid rgba(0, 0, 0, 0);
border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0);
transform: translate(-13.3333333333px, 23.3333333333px) rotate(-45deg);
}
}

.celebrating-milestones-wrapper{
background: url("/assests/img/about/core-values-bg.png");
background-size: cover;
background-repeat: no-repeat; 
background-position: center;  
}
.celebrating-milestones-wrapper .milestone-card {
  transform: scale(0.9) translateX(20px);
}

.celebrating-milestones-wrapper .slick-center .milestone-card {
  opacity: 1 !important;
  transform: scale(1) translateX(0px) !important;
}

.celebrating-milestones-wrapper .slick-dots {
  position: absolute !important;
  right: 0px !important;
}
.celebrating-milestones-wrapper .slick-dots ul{
display: flex;
flex-direction: column;
position: absolute;
right: -45px;
align-items: center!important;
}


.celebrating-milestones-wrapper .slick-dots li {
  margin: 10px 0 !important;
    align-items: center;
    display: flex;
    justify-content: center;
}

.celebrating-milestones-wrapper .slick-dots li button:before {
  content: "" !important;
}
.celebrating-milestones-wrapper .slick-dots li button {
  background: #466e5999;
    border: 1px solid #466e59;
    border-radius: 50%;
    width: 4px;
    height: 4px;
}
.celebrating-milestones-wrapper .slick-dots li div {
  transition: 0.3s;
    background: #FFFFFF;
    border: 1px solid #466e59;
    border-radius: 50%;

}

.celebrating-milestones-wrapper .slick-dots li.slick-active div {
  opacity: 1;
    content: "";
    background-color: #f4be00;
    border-radius: 61px;
    width: 10px;
    height: 20px;
    margin: -3px -4px;
    display: block;
    color: #f4be00 !important;
    border: none !important;
}

.our-team-wrapper{
background: url("/assests/img/about/together-bg.png");
background-size: cover;
background-repeat: no-repeat; 
background-position: center;  
}
@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.float-up-down {
  animation: floatUpDown 1.8s ease-in-out infinite;
}
.technology-details-hero-wrapper{
background: url("/assests/img/technology-details/technology-hero-bg.png") center/cover no-repeat;
height: 763px;
width:100%;
}

.hero-highlight::before{
content: "";
    z-index: -9;
    background: #F4BE00;
    width: 30%;
    height: 8px;
    position: absolute;
    bottom: -12px;
    left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


.curve-box {
    background: url("/assests/img/technology-details/green-shape.png") bottom / contain no-repeat;
    width: 100%;
    height: 300px;
}

.webdevelopment-hero-wrapper{
background: url("/assests/img/web-development/web-development-bg.jpg") center/cover no-repeat;
width:100%;
height:503px;
}

.bg-success-story{
  background: url("/assests/img/technology-details/bg-green-element.png") center/cover no-repeat;
  width:100%
}

.arrow-img {
    position: absolute;
    top: 60%;
    left: 50%;
}
.branding-details-hero-wrapper{
background: url("/assests/img/branding-details/branding-bg.jpg") center/cover no-repeat;
height: 763px;
width:100%;
}
/* Circle */
.branding-customer-wrapper .customer-circle {
  height: 270px;
  width: 270px;
  border-radius: 9999px;
background: #204667;
  border: 7px solid #ffffff;
  box-shadow: 0px 4px 136px 0px #000000 inset;
  position: relative;
}

.branding-customer-wrapper .customer-circle::after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 88%;
  height: 298px;
  width: 380px;
  background: url("https://vibes-work.s3.ap-south-1.amazonaws.com/event-marketing/assets/images/focus-img.webp")
    no-repeat center/cover;
  z-index: -9;
}


.branding-customer-wrapper .customer-card {
  position: relative;
  width: 550px;
  height:130px;
  margin: 15px 0 15px 54px;
  padding: 21px;
  border-radius: 8px;
  border: 1px solid #ebebeb;
  border-bottom: 5px solid #466E59;
  background: #ffffff;
  transition: transform 0.35s ease, box-shadow 0.35s ease;
  box-shadow: 0px 4px 4px 0px #00000040;

}


/* Active (center) slide */
.branding-customer-wrapper .customer-slider .slick-center .customer-card {
  transform: translateX(-52px);
  background: #466E59;
  border-bottom: 0;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.branding-customer-wrapper .customer-slider .slick-center h5 {
  color: #ffffff;
}

.branding-customer-wrapper .customer-slider .slick-center p {
  color: #d0d0d0;
}

/* Dots */
.branding-customer-wrapper .customer-slider .slick-dots {
  position: absolute;
  right: 30px;
  top: 60%;
  transform: translateY(-50%);
  display: flex !important;
  flex-direction: column;
  gap: 4px;
  width: 30px;
}

.branding-customer-wrapper .customer-slider .slick-dots li button:before {
  font-size: 15px;
  color: #bbb;
}

.branding-customer-wrapper .customer-slider .slick-dots li.slick-active button:before {
  color: #466e59;
}

@keyframes marqueeLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marqueeRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee-left {
  animation: marqueeLeft 25s linear infinite;
}

.animate-marquee-right {
  animation: marqueeRight 25s linear infinite;
}
.branding-marquee{
  overflow-x: clip;
}
.digital-details-hero-wrapper {
  background: url("/assests/img/digital-m-details/digital-marketing-bg.png") center/cover no-repeat;
height: 763px;
width:100%;
}