@media (min-width: 1801px) and (max-width: 1920px) {
  .service-bg{
  height: 80vh!important;
}
.casestudy-listing-hero-wrapper{
 height: 80vh!important;
}
}

@media (min-width: 1791px) and (max-width: 1800px) {
.service-bg{
  height: 65vh!important;
}
.casestudy-listing-hero-wrapper{
 height: 65vh!important;
}
}
@media (min-width: 1023px) and (max-width: 1025px) {
  .ct-image{
    height:100%;
  }
}
@media (max-width: 1024px){
.nv-menu{
font-size: 10px!important;
}
.branding-customer-wrapper .customer-circle:after {
display: none;
}
.curve-box {

height: 300px;
background-size: 251% 64%;
background-position: center;
background-size: cover;
}
.timeline-journey-wrapper .arrows-down {
left: 52.1%;
}
.celebrating-milestones-wrapper  {
text-align: center;
}
.footer-wrapper {
background-image: none;
background-color: black;
}
.team-member-wrapper .member-card {
min-height: 309px;
}
.wht-btn {
padding-left: 8px;
}
}
@media (min-width: 768px) and (max-width: 1023px) {
.casestudy-listing-hero-wrapper{
  height: 40vh;
  background-position: 80%;
}
.blog-listing-hero-wrapper{
  height: 40vh;
  background-position: 80%;

}
.technology-details-hero-wrapper{
  height: 40vh;
  background-position: 80%;
}
.branding-details-hero-wrapper{
  height: 40vh;
  background-position: 80%;
}
.digital-details-hero-wrapper{
  height: 40vh;
  background-position: 80%;
}
.about-hero-wrapper{
  height: 40vh;
  background-position: 80%;
}
}
@media (min-width: 768px) {
.timeline-journey-wrapper .swiper-pagination {
display: none !important;
}

}

@media (max-width: 676px){

.section-gap{
padding: 50px 0 40px;
}
.bdr{
border-right: none;
border-bottom: 1px solid #a2a2a2;
}
.highlight:before {
bottom: 8px;
}
.footer-wrapper{
background-color: black;
background-image: none;
}
.team-member-wrapper .swiper-slide.swiper-slide-active .member-center{
background: #326E4F;
color: white;
padding-bottom: 30px;
}
.casestudy-listing-hero-wrapper {
background-position: bottom;
background-image: url("https://d32ze5duxdubbq.cloudfront.net/assets/img/case-study-details/creative-design-mobile-banner-vibes-communications.jpeg")!important;
height: 100vh;
}

.jobdesc li{
margin-left: 0px!important;
}
.case-study-details-hero-wrapper{
background-position: left!important;
}
.about-hero-wrapper{
height: 100vh;
background-position:bottom;
background-image: url("https://d32ze5duxdubbq.cloudfront.net/assets/img/about/leadership-team-success-mobile-banner-vibes-communications.jpeg")!important;
}
.blog-listing-hero-wrapper{
background-position: bottom;
background-image: url("https://d32ze5duxdubbq.cloudfront.net/assets/img/blog/digital-insights-blog-future-ready-digital-solutions-mobile-banner-vibes-communications.jpeg")!important;
height: 100vh;
}
.blg-overview{
font-size: 28px!important;
}
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
font-size: 18px;
}
.blog-content h1 {
font-size: 22px;
}
.mission-vision-wrapper .together-small-img {
height: 170px;
width: 170px;
}
.timeline-journey-wrapper{
text-align: center!important;
}
.celebrating-milestones-wrapper{
text-align: center!important;
}
.celebrating-milestones-wrapper .milestone-card {
transform: scale(0.9) translateX(0px);
}
.technology-details-hero-wrapper{
height: 100vh!important;
background-position:bottom;
background-image: url("https://d32ze5duxdubbq.cloudfront.net/assets/img/technology-details/Ecommerce-website-design-mobile-banner-vibes-communications.jpeg")!important;
}
.tech-casestudy .case-study-card-common{
height: 250px;
}
.curve-box {

height: 300px;
background-size: 251% 64%;
background-position: center;
background-size: cover;
}
.curve-box .arrow-img{
height: 25px;
width: 25px;
display: none;
}
.digital-details-hero-wrapper{
background-position: bottom;
background-image: url("https://d32ze5duxdubbq.cloudfront.net/assets/img/digital-m-details/Digital-Marketing-services-mobile-banner-vibes-communications.jpeg")!important;
height: 100vh;
}
.branding-details-hero-wrapper {
background-position: bottom;
background-image: url("https://d32ze5duxdubbq.cloudfront.net/assets/img/branding-details/corporate-branding-design-mobile-banner-vibes-communications.jpeg")!important;
height: 100vh;
}
.branding-customer-wrapper .customer-circle:after {
display: none;
}
.branding-customer-wrapper .customer-slider .slick-dots {
flex-direction: row;
gap: 4px;
width: 30px;
position: absolute;
bottom: -24%;
top:initial;
left: 0;
right: 0;
margin: auto;
transform: translateY(-50%);
display: flex !important;
}
.branding-customer-wrapper .customer-card {
border: 1px solid #ebebeb;
border-bottom: 5px solid #466e59;
border-radius: 8px;
width: 100%;
height: 100%;
transition: transform .35s, box-shadow .35s;
position: relative;
box-shadow: 0 4px 4px #00000040;
margin: 10px 5px;
padding: 23px;
}
.branding-customer-wrapper .customer-slider .slick-center .customer-card {
transform: translateX(0px)!important;
}
.branding-customer-wrapper .customer-slider .slick-dots {
width: 64px;
bottom: -24%;
top: initial;
flex-direction: row;
gap: 10px;
margin: auto;
position: absolute;
left: 0;
right: 0;
transform: translateY(-50%);
display: flex !important;
}
.branding-customer-wrapper .customer-slider .slick-dots li.slick-active button:before {
opacity: 1;
content: "";
background-color: #f4be00;
border-radius: 61px;
width: 22px;
height: 12px;
margin: 0px -5px;
display: block;
color: #f4be00 !important;
border: none !important;
}
.wht-btn{
padding-left: 8px;
}
.nv-menu{
font-size: 14px!important;
padding: 8px;
}
.timeline-journey-wrapper .swiper-pagination-bullet{
background: #466e5999;
border: 1px solid #466e59;
}
.timeline-journey-wrapper .swiper-pagination-bullet-active {
border-radius: 61px;
background: #f4be00 !important;
border: none !important;
width: 20px !important;
height: 10px !important;
}
.highlight-title:before {
content: "";
z-index: -9;
background: #f4be00;
width: 100%;
height: 9px;
position: absolute;
bottom: 6px;
left: 0;
}
.hero-video{
height: 40dvh;
}
.hero-section {
    background-image: var(--mobile-bg) !important;
    height: 100vh;
    background-position:bottom;
  }
}

@media (min-width: 480px) and (max-width: 576px) {
.hero-video{
height:43vh;
}
}

@media (min-width: 539px) and (max-width: 540px) {
.hero-video{
height:54vh;
}
}
@media (min-width: 360px) and (max-width: 385px) {

.hero-video{
height:46dvh;
}
.vibes-logo{
width: 75px;
}
.cmn-heading{
font-size: 26px;
}
.sbs-btn{
font-size: 13px; 
}
.hero-heading{
font-size: 28px!important;
}

.case-crd{
height: 240px;
}
.case-study-listing-wrapper .case-study-card-common {
height: 240px;
}
}

@media (min-width: 320px) and (max-width: 359px) {
.hero-video{
height:56dvh;
}
.technology-details-hero-wrapper{
height: 100vh!important;
background-position: bottom;
}
.digital-details-hero-wrapper{
height: 100vh!important;
background-position:bottom; 
}
.branding-details-hero-wrapper {
height: 100vh!important;
background-position: left; 
}

.talk-btn a{
padding: 2px 2px!important;
font-size: 12px!important;
}
.vibes-logo{
height: 50px;
width: 70px;
}
.case-crd{
height: 240px;
}
.case-study-listing-wrapper .case-study-card-common {
height: 240px;
}
.brnd-icon{
height: 50px;
width: 50px;
}
.subscribe-cnt input::placeholder {
  font-size: 12px;

}
.subscribe-cnt .sbs-btn{
  font-size: 12px;
}
}