@media(min-width: 1780px) and (max-width: 1800px){
.service-bg{
height: 65vh;
}


}


@media (max-width: 1024px){
.nv-menu{
font-size: 10px!important;
}
.branding-customer-wrapper .customer-circle:after {
display: none;
}
.curve-box {

height: 300px;
background-size: 251% 64%;
background-position: center;
background-size: cover;
}
.timeline-journey-wrapper .arrows-down {
left: 52.1%;
}
.celebrating-milestones-wrapper  {
text-align: center;
}
.footer-wrapper {
background-image: none;
background-color: black;
}
.team-member-wrapper .member-card {
min-height: 309px;
}
}


@media (min-width: 768px) {
.timeline-journey-wrapper .swiper-pagination {
display: none !important;
}
}

@media (max-width: 676px){

.section-gap{
padding: 50px 0 40px;
}
.bdr{
border-right: none;
border-bottom: 1px solid #a2a2a2;
}
.highlight:before {
bottom: 8px;
}
.footer-wrapper{
background-color: black;
background-image: none;
}
.team-member-wrapper .swiper-slide.swiper-slide-active .member-center{
background: #326E4F;
color: white;
padding-bottom: 30px;
}
.casestudy-listing-hero-wrapper {
background-position: left;
}
.jobdesc li{
margin-left: 0px!important;
}
.case-study-details-hero-wrapper{
background-position: left!important;
}
.about-hero-wrapper{
height: 65vh!important;
background-position: left!important;
}
.blog-listing-hero-wrapper{
height: 65vh!important;
background-position: left!important;
}
.blg-overview{
font-size: 28px!important;
}
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
font-size: 18px;
}
.blog-content h1 {
font-size: 22px;
}
.mission-vision-wrapper .together-small-img {
height: 170px;
width: 170px;
}
.timeline-journey-wrapper{
text-align: center!important;
}
.celebrating-milestones-wrapper{
text-align: center!important;
}
.celebrating-milestones-wrapper .milestone-card {
transform: scale(0.9) translateX(0px);
}
.technology-details-hero-wrapper{
height: 65vh!important;
background-position: left;
}
.tech-casestudy .case-study-card-common{
height: 250px;
}
.curve-box {

height: 300px;
background-size: 251% 64%;
background-position: center;
background-size: cover;
}
.curve-box .arrow-img{
height: 25px;
width: 25px;
}
.digital-details-hero-wrapper{
height: 65vh!important;
background-position: left; 
}
.branding-details-hero-wrapper {
height: 65vh!important;
background-position: left; 
}
.branding-customer-wrapper .customer-circle:after {
display: none;
}
.branding-customer-wrapper .customer-slider .slick-dots {
flex-direction: row;
gap: 4px;
width: 30px;
position: absolute;
bottom: -24%;
top:initial;
left: 0;
right: 0;
margin: auto;
transform: translateY(-50%);
display: flex !important;
}
.branding-customer-wrapper .customer-card {
border: 1px solid #ebebeb;
border-bottom: 5px solid #466e59;
border-radius: 8px;
width: 100%;
height: 100%;
transition: transform .35s, box-shadow .35s;
position: relative;
box-shadow: 0 4px 4px #00000040;
margin: 10px 5px;
padding: 23px;
}
.branding-customer-wrapper .customer-slider .slick-center .customer-card {
transform: translateX(0px)!important;
}
.branding-customer-wrapper .customer-slider .slick-dots {
width: 64px;
bottom: -24%;
top: initial;
flex-direction: row;
gap: 10px;
margin: auto;
position: absolute;
left: 0;
right: 0;
transform: translateY(-50%);
display: flex !important;
}
.branding-customer-wrapper .customer-slider .slick-dots li.slick-active button:before {
opacity: 1;
content: "";
background-color: #f4be00;
border-radius: 61px;
width: 22px;
height: 12px;
margin: 0px -5px;
display: block;
color: #f4be00 !important;
border: none !important;
}
.wht-btn{
padding-left: 8px;
}
.nv-menu{
font-size: 14px!important;
}
.timeline-journey-wrapper .swiper-pagination-bullet{
background: #466e5999;
border: 1px solid #466e59;
}
.timeline-journey-wrapper .swiper-pagination-bullet-active {
border-radius: 61px;
background: #f4be00 !important;
border: none !important;
width: 20px !important;
height: 10px !important;
}
.highlight-title:before {
content: "";
z-index: -9;
background: #f4be00;
width: 100%;
height: 9px;
position: absolute;
bottom: 6px;
left: 0;
}
.hero-video{
    height: 40vh;
}
}
@media (min-width: 480px) and (max-width: 575px) {
.hero-video{
height:40vh;
}

}
@media (min-width: 360px) and (max-width: 385px) {

.hero-video{
height:46vh;
}
.vibes-logo{
width: 75px;
}
.cmn-heading{
font-size: 26px;
}
.sbs-btn{
font-size: 13px; 
}
.hero-heading{
font-size: 28px!important;
}
.technology-details-hero-wrapper{
height: 90vh!important;
background-position: left;
}
.digital-details-hero-wrapper{
height: 90vh!important;
background-position: left; 
}
.branding-details-hero-wrapper {
height: 90vh!important;
background-position: left; 
}
.about-hero-wrapper, .blog-listing-hero-wrapper {
background-position: 0 !important;
height: 90vh !important;
}
.case-crd{
height: 240px;
}
.case-study-listing-wrapper .case-study-card-common {
height: 240px;
}
}

@media (min-width: 320px) and (max-width: 359px) {
.hero-video{
height:50vh;
}
.technology-details-hero-wrapper{
height: 100vh!important;
background-position: left;
}
.digital-details-hero-wrapper{
height: 100vh!important;
background-position: left; 
}
.branding-details-hero-wrapper {
height: 100vh!important;
background-position: left; 
}
.about-hero-wrapper, .blog-listing-hero-wrapper {
background-position: 0 !important;
height: 100vh !important;
}
.talk-btn a{
padding: 2px 2px!important;
font-size: 12px!important;
}
.vibes-logo{
height: 50px;
width: 70px;
}
.case-crd{
height: 240px;
}
.case-study-listing-wrapper .case-study-card-common {
height: 240px;
}
.brnd-icon{
height: 50px;
width: 50px;
}
.subscribe-cnt input::placeholder {
  font-size: 11px;

}
}