 @media (min-width: 768px) {
  .timeline-journey-wrapper .swiper-pagination {
    display: none !important;
  }
}
 
 @media (max-width: 676px){

.section-gap{
padding: 50px 0 40px;
}
.bdr{
border-right: none;
border-bottom: 1px solid #a2a2a2;
}
.highlight:before {
    bottom: 8px;
}
.footer-wrapper{
background-color: black;
background-image: none;
}
.team-member-wrapper .swiper-slide.swiper-slide-active .member-center{
  background: #326E4F;
  color: white;
    padding-bottom: 30px;
}
.casestudy-listing-hero-wrapper {
    background-position: left;
}
.jobdesc li{
    margin-left: 0px!important;
}
.case-study-details-hero-wrapper{
    background-position: left!important;
}
.about-hero-wrapper{
    height: 65vh!important;
     background-position: left!important;
}
.blog-listing-hero-wrapper{
 height: 65vh!important;
 background-position: left!important;
}
.blg-overview{
    font-size: 28px!important;
}
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
  font-size: 18px;
}
.blog-content h1 {
font-size: 22px;
}
.mission-vision-wrapper .together-small-img {
    height: 170px;
    width: 170px;
}
.timeline-journey-wrapper{
    text-align: center!important;
}
.celebrating-milestones-wrapper{
text-align: center!important;
}
.celebrating-milestones-wrapper .milestone-card {
    transform: scale(0.9) translateX(0px);
}
}

@media (min-width: 360px) and (max-width: 385px) {

    .hero-video{
       height:46vh;
    }
    .vibes-logo{
        width: 75px;
    }
    .cmn-heading{
        font-size: 26px;
    }
    .sbs-btn{
       font-size: 13px; 
    }
    .hero-heading{
        font-size: 28px!important;
    }
}

@media (min-width: 320px) and (max-width: 359px) {
 .hero-video{
       height:50vh;
    }
   
}